/* fonts.css */
@font-face {
    font-family: 'CustomFontName';
    src: url('../../assets/fonts/Al\ Majeed\ Quranic\ Font_shiped.ttf') format('truetype');
  }

  @font-face {
    font-family: 'OpensansfontBold';
    src: url('../../assets/fonts/Open_Sans/static/OpenSans/OpenSans-Bold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Opensansfontsemibold';
    src: url('../../assets/fonts/Open_Sans/static/OpenSans/OpenSans-SemiBold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Opensansfontmedium';
    src: url('../../assets/fonts/Open_Sans/static/OpenSans/OpenSans-Medium.ttf') format('truetype');
  }